<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width">
   <title>Document</title>

   <link rel="stylesheet" href="dist/fonts/font-face.css">
   <link rel="stylesheet" href="dist/styles/styles.main.css">

   <!--[if lte IE 9]>
   <link rel="stylesheet" href="dist/styles/IE/stylesIE.css" media="screen, projection">
   <script src="dist/scripts/IE/scriptIE.js"></script>
   <![endif]-->

   <script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
   <script src="https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.min.js"></script>
   <script src="dist/scripts/template.js"></script>
   <script src="dist/scripts/script.main.js"></script>
</head>
<body>

   <div id="pagewrap">
      <div class="wrapper wrapper--header">
         <header class="header">
            <div class="" id="root">
            </div>
            <div class="header__account">
               <span class="header__logIn"> Log in </span>
               <span class="header__signUp"> Sign up </span>
            </div>

            <img class="header__logo" src="dist/images/logo.png" title="URLAUBSGLÜCK" alt="LOGO here">

            <div class="header__text">
               <p class="header__caption"> share your holiday dreams </p>
               <p class="header__subText"> And find the perfect partner to fullfill it </p>

               <button class="header__findBtn" type="button" name="button"> Find your holiday partner </button>
            </div>

         </header>
      </div>

      <div class="wrapper wrapper--main">
         <main class="main">
            <p class="main__caption"> How Urlaubsglück works? </p>
            <section class="sliders">

               <div class="slider">
                  <div class="slider__text">
                     <p class="slider__step"> Step 1 </p>
                     <p class="slider__caption"> Sed leo enim, condimentum </p>
                     <p class="slider__info"> Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis. </p>
                  </div>
                  <ul class="slider__list">
                     <li class="slider__item"></li>
                     <li class="slider__item"></li>
                     <li class="slider__item"></li>
                  </ul>
               </div>

               <div class="slider">
                  <div class="slider__text">
                     <p class="slider__step"> Step 2 </p>
                     <p class="slider__caption"> Morbi velit risus </p>
                     <p class="slider__info"> Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est. </p>
                  </div>
                  <ul class="slider__list">
                     <li class="slider__item"></li>
                     <li class="slider__item"></li>
                     <li class="slider__item"></li>
                  </ul>
               </div>

               <div class="slider">
                  <div class="slider__text">
                     <p class="slider__step"> Step 3 </p>
                     <p class="slider__caption"> Sed leo enim, condimentum </p>
                     <p class="slider__info"> Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis. </p>
                  </div>
                  <ul class="slider__list">
                     <li class="slider__item"></li>
                     <li class="slider__item"></li>
                     <li class="slider__item"></li>
                  </ul>
               </div>
            </section>

            <section class="partners">
               <p class="partners__caption"> Meet a partner for your best holiday </p>

               <ul class="partners__list">
                  <li class="partners__item">
                     <figure class="partners__figure partners__figure--1">
                        <img  class="partners__img" src="dist/images/partner1.png" alt="">
                        <figcaption class="partners__name"> Bradley Hunter </figcaption>
                     </figure>
                     <p class="partners__info"> Based in Chicago. I love playing tennis and loud music. </p>
                  </li>
                  <li class="partners__item">
                     <figure class="partners__figure partners__figure--2">
                        <img  class="partners__img" src="dist/images/partner2.png" alt="">
                        <figcaption class="partners__name"> Heather Walker </figcaption>
                     </figure>
                     <p class="partners__info"> I'm a happy person that loves cats and climbing on mountains.</p>
                  </li>
                  <li class="partners__item" >
                     <figure class="partners__figure partners__figure--3">
                        <img  class="partners__img" src="dist/images/partner3.png" alt="">
                        <figcaption class="partners__name"> Lucas Marsha </figcaption>
                     </figure>
                     <p class="partners__info"> I get my inspiration from nature and objects around me. I have a passion to colours, typography and skateboards. </p>
                  </li>
                  <li class="partners__item">
                     <figure class="partners__figure partners__figure--4">
                        <img  class="partners__img" src="dist/images/partner4.png" alt="">
                        <figcaption class="partners__name"> Bradley Hunter </figcaption>
                     </figure>
                     <p class="partners__info"> Based in Chicago. I love playing tennis and loud music. </p>
                  </li>
               </ul>

               <button class="partners__bottomBtn" type="button" name="button"> See other partners </button>
            </section>

            <div class="activity">
               <section class="activity-bar">
                  <p class="activity-bar__caption"> Discover holiday activity ideas </p>

                  <div class="grid"></div>

                  <script type="text/html" id="grid">
                     <div class="columnWidth"></div>
                     <% for (let i = 0; i < data.length; i++) { %>
                        <img class="grid__img" src="<%= data[i] %>" alt="">
                     <% } %>
                  </script>
               </section>

               <section class="activity-search">
                  <div class="activity-search__text">
                     <p class="activity-search__caption"> Discover holiday activity ideas </p>
                     <p class="activity-search__subText"> Hi! What are your holiday interests? </p>
                  </div>

                  <form class="activity-search__form">
                     <input class="activity-search__input" type="text" placeholder="Enter your interests">
                     <button class="activity-search__btn" type="button"> Search partners </button>
                  </form>
               </section>

            </div>
         </main>

      </div>

      <div class="wrapper wrapper-footer">
         <footer class="footer">
            <img class="footer__logo" src="dist/images/footer-logo.png" alt="" class="footer__logo">

            <div class="footer__company">
               <span class="footer__caption"> Company </span>
               <ul class="footer__list">
                  <li class="footer__item"><a class="footer__link" href=""> About </a></li>
                  <li class="footer__item"><a class="footer__link" href=""> Contacts </a></li>
                  <li class="footer__item"><a class="footer__link" href=""> Press </a></li>
                  <li class="footer__item"><a class="footer__link" href=""> Blog </a></li>
               </ul>
            </div>

            <span class="footer__caption"> Partners </span>
            <img class="footer__partner" src="dist/images/footer-partners.png" alt="">

         </footer>
      </div>
   </div>

</body>
</html>
