@mixin content {
   max-width: $content;
   margin: 0 auto;
}

@mixin mainCaptions {
   color: #000;
   font-size: 22px;
   font-family: $MontB;
   text-align: center;

   box-sizing: border-box;
}
