/* Media breakpoints */

$desktop: '(min-width: 769px) and (max-width: 939px)';
$tablet: '(min-width: 321px) and (max-width: 768px)';
$mobile: '(max-width: 320px)';

/* Other variables */

$content: 940px;


$MontB: 'Montserrat-Bold', sans-serif;
$MontR: 'Montserrat-Regular', sans-serif;

$MyriadB: 'MyriadProBold', sans-serif;
$MyriadR: 'MyriadProRegular', sans-serif;
$MyriadI: 'MyriadProItalic', sans-serif;

$RobotoL: 'Roboto-Light', sans-serif;
