@import "_variables";
@import "_mixins";

@media #{$desktop} {

   .header,
   .main,
   .footer {
      width: 100%;
   }

   /*       Slider       */

   .slider {
      width: 31.5%;

      &__list {
         // width: imgWigth(31.5);
      }
   }

   .slider__arrowR {
      left: 81%;
   }

   /*       Partners       */

   .partners {
      width: 65%;
      margin: 95px auto 0;

      &__list {
         display: block;
         width: 100%;
         margin: 34px auto 0;
      }

      &__item {
         display: inline-table;
         vertical-align: top;
         width: 220px;
      }
   }

   /*       Activities       */

   .grid__img {
      width: 31.49%;
   }

   .grid__img:nth-of-type(5),
   .grid__img:nth-of-type(6) {
      width: 65.6%;
   }

   .columnWidth {
      width: 31.49%;
   }

}
