@import "_variables";
@import "_mixins";

@media #{$tablet} {

   .header {
      width: 87.5%;
   }

   /*       MAIN       */

   .wrapper--main {
      padding-bottom: 74px;
   }

   .main__caption {
      padding: 0 0 0 5px;
   }

   /*       Sliders       */

   .sliders {
      display: flex;
      justify-content: space-around;
   }

   .slider {
      width: 31%;

      &__item {
         background-position: -50px 0;
      }

      &__arrowR,
      &__arrowL {
         top: 39px;
         left: 78.86%;
      }

      &__arrowL {
         left: 9.13%;
      }

      &__text {
         margin-bottom: 2px;
      }
   }

   /*       Partners       */

   .partners {
      width: 70%;
      margin: 99px auto 0;

      &__list {
         display: block;
         width: 100%;
         margin: 32px auto 0;
      }

      &__item {
         display: inline-table;
         vertical-align: top;
         width: 251px;
         height: 258px;
         padding-top: 1px;

         text-align: center;
      }

      &__figure:after {
         left: 149px;
      }

      &__info {
         display: inline-block;
         width: 220px;
      }

      &__bottomBtn {
         margin-top: 14px;
      }
   }

   /*       Activities       */

   .activity-bar {
      padding: 0 10px;

      box-sizing: border-box;

      &__caption {
         padding-right: 1px;
      }
   }

   .grid__img {
      width: 31.49%;
   }

   .grid__img--5,
   .grid__img--6 {
      width: 65.6%;
   }

   .columnWidth {
      width: 31.49%;
   }

   .activity-search {
      margin-top: 97px;

      &__form {
         margin-top: 39px;
      }
   }

   /*       Footer       */

   .footer {
      width: 89.5%;

      &__logo {
         margin-right: 11.6%;
      }

      &__company {
         margin-right: 14.36%;
      }
   }
}

@media (max-width: 743px) {

   .slider__caption {
      width: 90%;
      font-size: 20px;
   }

   .partners {
      width: 90%;
   }

   .grid {

      &__img {
         width: 30.5%;
      }

      &__img--5,
      &__img--6 {
         width: 64.4%;
      }
   }

   .columnWidth {
      width: 30.5%;
   }
}

@media (max-width: 605px) {

   /*       Header       */

   .header {
      width: 95.5%;

      &__account {
         float: none;
         width: 100%;

         text-align: center;
      }

      &__logo {
         display: block;
         margin: 0 auto;
         margin-top: 126px;
      }

      &__text {
         width: 100%;
         margin-top: 60px;
         padding-left: 2px;

         font-size: 18px;
         text-align: center;
      }

      &__caption {
         margin-bottom: 0;

         font-size: 30px;
         line-height: 35px;
      }

      &__subText {
         display: inline-block;
         width: 69%;
         margin-top: 25px;
         padding-right: 6px;

         line-height: 20px;
      }
   }

   .logIn-window__content {
      width: 290px;
   }

   /*       Slider       */

   .sliders {
      display: block;
      margin-top: 8px;

      text-align: center;
   }

   .slider {
      display: inline-block;
      height: 350px;
      width: 300px;
      margin-top: 8px;

      &__list {
         height: inherit;
      }

      &__item {
         height: inherit;
         width: 300px;

         background-position: 0 0;
      }

      &__arrowL,
      &__arrowR {
         display: none;
      }

      &__text {
         text-align: left;
      }

      &__caption {
         width: 90%;
         margin-bottom: 13px;

         font-size: 20px;
      }

      &__info {
         margin-bottom: 18px;
      }
   }

   /*          Activities       */

   .grid {

      &__img {
         width: 100%;
         height: 300px;
         padding: 20px 10px 0;

         box-sizing: border-box;
      }

      &__img--5,
      &__img--6 {
         width: 100%;
      }
   }

   .columnWidth {
      width: 100%;
   }

   .activity-search__btn {
      margin-top: 5px;
   }

   /*       Footer       */

   .footer {
      padding-top: 40px;

      text-align: center;

      &__logo {
         display: block;
         margin: 0 auto;
         padding-right: 2px;
      }

      &__caption {
         display: block;
         margin-top: 30px;
         padding-right: 2px;
      }

      &__company {
         display: block;
         margin: 35px auto 0;
         padding-right: 2px;
      }

      &__list {
         height: 14px;
         margin-top: 5px;
         padding-left: 10px;
      }

      &__item {
         display: inline-block;
         margin-top: 5px;
         margin-right: 20px;

         font-size: 15px;
      }

      &__partner {
         float: none;
         margin-top: 25px;
      }
   }
}
