<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <link rel="stylesheet" href="css/style.css">

    <script src="https:ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="js/template.js"></script>
    <!-- enable below first time ples -->
    <script src="js/local.js"></script>
    <script src="js/script.js"></script>
</head>
<body>

    <div class="wrapper">

        <p class="header"> Тест по программированию </p>

        <ol class="testMenu">
            <script type="text/html" id="test">
                <% for(let i = 0; i < content.length; i++) { %>
                    <li>
                        <span><%= content[i].title %></span>
                        <ul class="submenu">
                            <% for(let k = 0; k < content[i].answers.length; k++) { %>
                            <li><label><input type="checkbox"><%= content[i].answers[k] %></label></li>
                            <% } %>
                        </ul>
                    </li>
                <% } %>
            </script>
        </ol>

        <input class="check" type="button" value="Проверить мои результаты">

    </div>

    <div class="modal">
        <div class="modal-dialog">
            <div class="modal-header"> Your results </div>

            <div class="modal-content">
                <script type="text/html" id="answers">
                    <% for(let i = 0; i < testItem.length; i++) { %>
                        <div>
                            <span><%= testItem[i].question %></span>
                            <span class="<%= testItem[i].correct %>"><%= testItem[i].answer %></span>
                            <% } %>
                            <p class="result"><%= `${result.result}/${testItem.length}
                                correct answers` %></p>
                        </div>
                </script>
            </div>

            <div class="modal-footer">
                <input class="closeBtn" type="button" value="Close"></input>
                <input class="refreshBtn" type="button" value="Try again"></input>
            </div>
        </div>
    </div>

</body>
</html>
