body{
  color: white;
  width: 80%;
  background-repeat: no-repeat;
  background-image: url("../img/Back.jpg");
  background-size: 80% 120%;
}

h6{
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 30px;
  font-family: sans-serif;
}

a{
  color: orange;
}

.MyImg{
  border-style: groove;
}

.Main_Sect{
  font-family: serif;
  text-align: center;
  margin-left: 33%;
  margin-right: 30%;
  font-size: 15px;
}

.section_1,
.section_2,
.section_3{
  border-bottom-color: white;
  border-bottom-style: groove;
  border-bottom-width: thin;
}

.University,
.section_2,
.section_3 ,
.section_4{
  text-align: left;
}

.University{
  font-family: sans-serif;
  color: #D3D3D3;
}

.otstyp{
  text-indent: 30px;
}

.invisio{
  margin-top: 230px;
}
