
/* OVERALL PROPERTIES */

body {
    max-width: 1366px;
    background: #f9f9f9;
}

.wrapper {
    height: 1000px;
    margin: auto 150px;
    padding: 0 40px;
    background-color: #fff;
    box-shadow: 0 0 5px 2px rgba(217, 212, 212, 1);
}

ul {
    font-size: 0;
}

.clearfix::after {
    display: table;
    clear: both;
    content: '';
}

/*       LOGO         */

.logo {
    margin: 40px 0;
}

/*      MENU BAR       */

.menu-bar {
    background: linear-gradient(to bottom, #6d6d6d 0%, #464545 100%);
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

.menu-bar li {
    display: inline-block;
    padding: 12px 40px;
    border: 1px solid;
    border-color: transparent;
    font-size: 15px;
}

.menu-bar li:first-child {
    padding: 12px 25px;
}

.menu-bar li:hover {
    transition: .3s;
    border-right: 1px solid #919d9c;
    border-left: 1px solid #919d9c;
    background: linear-gradient(to bottom, #595656 0%, #292727 100%);
    cursor: pointer;
}

.menu-bar li:first-child:hover {
    border-right: 1px solid #919d9c;
    border-left: 1px solid transparent;
    background-image: url('../img/linked.png');
}

/*       SIDE BAR       */

.side-bar {
    width: 240px;
    margin: 40px 0;
    border: 1px solid #bac8c7;
    color: #407876;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
}

.side-bar li {
    padding: 12px 20px;
    border-bottom: 1px solid #bac8c7;
    font-size: 14px;
}

.side-bar li:last-child {
    border-bottom: none;
}

.side-bar li:hover {
    padding: 12px 35px;
    transition: .2s;
    background-color: #f9f9f9;
    color: #0a0c12;
    cursor: pointer;
}

/*       FRONT IMAGE       */

.front-image {
    width: 670px;
    margin: 40px 0;
    float: right;
    border: 1px solid #bac8c7;
}

/*       FRONT TEXT       */

.front-text {
    width: 650px;
    float: right;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 20px;
}

/*       FOOTER       */

.footer {
    width: 950px;
    margin: 70px 0;
    background-color: #e1e1e1;
    color: #1e3635;
    font-family: 'Open Sans', serif;
    font-size: 15px;
}

.footer li {
    display: inline-block;
    padding: 10px 50px;
    border: 1px solid;
    border-color: transparent;
    font-size: 13px;
}

.footer li:first-child {
    padding: 10px 20px;
}

.footer-copy::after {
    display: block;
    padding: 12px 30px;
    float: right;
    font-size: 13px;
    content: '2014 © All rights reserved';
}

.footer li:hover {
    text-decoration: underline;
    cursor: pointer;
}
